# Byte-compiled / pycacahe
__pycache__/
*.py[cod]
*$py.class
.flake8

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
**/migrations/
*.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
*.pyc